:root {
  --page-width: 100rem;
}

.form-page {
  margin: 0 auto;
  padding: 0;
  // width: 850px;
  // height: 1098px;

  width: var(--page-width);
  height: calc(var(--page-width) * 1.291764706);

  background: url('../assets/form-bg.jpg') no-repeat;
  position: relative;
}

.attributes {
  // background-color: aqua;
  width: 27.7em;
  height: 6em;
  position: absolute;
  top: 11.5em;
  left: 12.7em;
}
.abilities {
  // background-color: red;
  // opacity: 0.4;
  width: 21em;
  height: 25em;
  position: absolute;
  top: 24.43em;
  left: 16.1em;
}

.preview {
  position: absolute;
  left: 0;
  top: 0;
}
