.ability-checks {
  .checkbox {
    display: block;
    margin-bottom: -0.07em;
  }
}
.weapon-checks {
  position: absolute;
  left: 11em;
  top: 1.26em;
  .checkbox {
    display: block;
    margin-bottom: -0.069em;
  }
}
.secondary-checks {
  position: absolute;
  left: 10.93em;
  top: 16em;
  .checkbox {
    display: block;
    margin-bottom: -0.07em;
  }
}
