.ability-checks {
  .checkbox {
    display: block;
    margin-bottom: -0.07em;
  }
}
.weapon-checks {
  position: absolute;
  left: 11em;
  top: 1.26em;
  .checkbox {
    display: block;
    margin-bottom: -0.069em;
  }
}
.secondary-checks {
  position: absolute;
  left: 10.93em;
  top: 16em;
  .checkbox {
    display: block;
    margin-bottom: -0.07em;
  }
}
.ability-values {
  position: absolute;
  left: 1.1em;
  top: 0.29em;
}
.weapon-values {
  position: absolute;
  left: 12.1em;
  top: 1.48em;
}
.secondary-values {
  position: absolute;
  left: 12.1em;
  top: 16.3em;
}
.secondary-names {
  position: absolute;
  left: 14.1em;
  top: 16.1em;
}
