:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family: 'Sofia', cursive;

  /* line-height: 1.5; */
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input,
textarea {
  font: 0.9em/1.5em cursive;
  font-family: var(--font-family);
  color: black;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-size: 16px;

  padding: 0;
  margin: 2px;
  /* display: flex;
  justify-content: center; */

  /* min-width: 320px; */
  /* min-height: 100vh; */
}
